.d {
    height: 420px;
    width: 820px;
    background-color: aqua;
    display: flex;
    margin-left: 300px;
    margin-top: 170px;
    position: relative;
}
/* .box{

} */

.d1 {
background-color: hsl(31, 77%, 52%);
}

.d2 {
background-color:hsl(184, 100%, 22%);
}

.d3 {
background-color:hsl(179, 100%, 13%);
}

p {
    padding-top: 10px;
    padding-left:28px;
}

h1 {
    color: white;
    padding-left: 30px;
    position: absolute;
    top:70px;
    font-family: 'Big Shoulders Display', bold;

}
.p1 {
    padding-top: 30px;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    justify-content: center;
    padding: 30px;
    line-height: 25px;
    opacity: 0.5;
    height:100px;
   
}

.p2 {
    position: absolute;
    bottom:10px;
    background-color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    
}

.b1 {
    position: absolute;
    left: 30px;
    color:hsl(31, 77%, 52%);
    
}

.b2 {
    position: absolute;
    left: 300px;
    color:hsl(184, 100%, 22%);
}

.b3 {
    position: absolute;
    left: 580px;
    color:hsl(179, 100%, 13%);
}